@model Pin

@{
    ViewData["Title"] = "Create Pin";
}

<h2>Create Pin</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Title</label><br />
        <input asp-for="Title" />
    </div>

    <div>
        <label>Image URL</label><br />
        <input asp-for="ImageUrl" />
    </div>

    <div>
        <label>Description</label><br />
        <textarea asp-for="Description"></textarea>
    </div>

    <br />
    <button type="submit">Save Pin</button>
</form>
